<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Cod Art.</th>
            <th>Nombre Art.</th>
            <th>Desc Art.</th>
            <th>Cant Art</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Item in Items"
            ng-init="itemIndex=Item.Id"
            ng-click="rowHighilited(itemIndex)"
            ng-class="itemIndex==selectedRow?'active':''">
            <td>{{Item.Id}}</td>
            <td>{{Item.Code}}</td>
            <td>{{Item.Name}}</td>
            <td>{{Item.Description}}</td>
            <td>{{Item.Quantity}}</td>
        </tr>
    </tbody>
</table>
<br />
<input type="button" value="Insertar Artículo" class="btn btn-primary" ng-click="addItem()">
<input type="button" value="Modificar Artículo" class="btn btn-primary" ng-click="editItem(selectedRow)">
<input type="button" value="Eliminar Artículo" class="btn btn-primary" ng-click="deleteItem(selectedRow)">



<div>{{error}}</div>